Marketing Campaign.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://data.mixpanel.com/api/2.0/export",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "from_date",
              "value": "2017-01-01"
            },
            {
              "name": "to_date",
              "value": "={{ new Date(Date.now() - 86400000).toISOString().split('T')[0] }}"
            },
            {
              "name": "where",
              "value": "=properties[\"tenant_email_domain\"] == \"{{ $json.properties.domain }}\""
            },
            {
              "name": "event",
              "value": "[\"Enable Bill Pay\", \"Bill Pay Paid\", \"Enable Zeni Accounts\", \"Onboarding Link A Bank Account Success\", \"Deposit Accounts Transfer Created\"]"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "36707174-f883-4c47-b857-7b954bfd3176",
      "name": "GET Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1260,
        1140
      ],
      "alwaysOutputData": false,
      "credentials": {
        "httpBasicAuth": {
          "id": "IRRasnSLxO08AwkO",
          "name": "MixPanel"
        }
      }
    },
    {
      "parameters": {},
      "id": "11c7a7ca-401a-45c9-8787-6a3594db271e",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2340,
        1120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer HUBSPOT_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"customer_health\",\n          \"operator\": \"IN\",\n          \"values\": [\"🟣 Onboarding\", \"🟢 Live\", \"🔵 In Renewal\", \"🟡 At Risk\", \"🔴 High Risk\"]\n        },\n        {\n          \"propertyName\": \"mixpanel_trigger\",\n          \"operator\": \"EQ\",\n          \"value\": 1\n        }\n      ]\n    }\n  ],\n  \"properties\": [\"domain\"],\n  \"limit\": 200\n}\n",
        "options": {}
      },
      "id": "8cd811b4-c911-4000-ace6-3cf9db428978",
      "name": "Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2140,
        1120
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "id": "376c2c1b-04f3-479e-b866-873a2371b236",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1720,
        1120
      ]
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "id": "3ea4b30b-4c2f-4bad-8219-591df0bdb899",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1520,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\nconst eventNames = [\n    \"Enable Bill Pay\", \n    \"Bill Pay Paid\", \n    \"Enable Zeni Accounts\", \n    \"Onboarding Link A Bank Account Success\", \n    \"Deposit Accounts Transfer Created\"\n];\nconst eventCounts = {};\nlet enableBillPayDate = null;\nlet enableZeniAccountsDate = null;\nlet recentOnboardingBankTimestamp = null;\nlet connectionStatusExternalAccount = \"Not Connected\";\nlet daysSinceLastConnectedAccount = 0;\nlet billPayUsed = \"False\";\nlet zeniAccountDaysSince = 0;\nconst eventData = eventNames.reduce((obj, name) => {\n    obj[name] = [];\n    return obj;\n}, {});\ndata.forEach(item => {\n    const jsonString = item.json.data;\n    const jsonStrings = jsonString.split('\\n'); jsonStrings.forEach(jsonStr => {\n        try {\n            const jsonData = JSON.parse(jsonStr);\n            const eventName = jsonData.event;\n            const eventProps = jsonData.properties;\n            if (eventData[eventName]) {\n              eventData[eventName].push(eventProps);\n            }\n        } catch (error) {\n            console.error(\"Error parsing JSON:\", error, jsonStr);\n        }\n    });\n});\nfor (const [name, propertiesList] of Object.entries(eventData)) {\n    eventCounts[name] = propertiesList.length;\n    propertiesList.sort((a, b) => (a.time || 0) - (b.time || 0));\n\n    if (name === \"Enable Bill Pay\" && propertiesList.length > 0) {\n        enableBillPayDate = new Date(propertiesList[0].time * 1000).toISOString();\n    }\n    if (name === \"Enable Zeni Accounts\" && propertiesList.length > 0) {\n        enableZeniAccountsDate = new Date(propertiesList[0].time * 1000).toISOString();\n        zeniAccountDaysSince = Math.floor((Date.now() - new Date(enableZeniAccountsDate)) / (1000 * 60 * 60 * 24));\n    }\n    if (name === \"Onboarding Link A Bank Account Success\" && propertiesList.length > 0) {\n        recentOnboardingBankTimestamp = new Date(propertiesList[propertiesList.length - 1].time * 1000).toISOString();\n        daysSinceLastConnectedAccount = Math.floor((Date.now() - new Date(recentOnboardingBankTimestamp)) / (1000 * 60 * 60 * 24));\n        connectionStatusExternalAccount = \"Connected\";\n    }\n}\n\nif (eventCounts[\"Bill Pay Paid\"] > 0) {\n    billPayUsed = \"True\";\n}\n\nenableBillPayDate = String(enableBillPayDate || 0)\nenableZeniAccountsDate = String(enableZeniAccountsDate || 0)\nrecentOnboardingBankTimestamp = String(recentOnboardingBankTimestamp || 0)\n\nresult = {\n      \"enableBillPayDate\": enableBillPayDate,\n      \"Number of Bill Pay Paid\": eventCounts[\"Bill Pay Paid\"],\n      \"billPayUsed\": billPayUsed,\n      \"enableZeniAccountsDate\": enableZeniAccountsDate,\n      \"zeniAccountDaysSince\": zeniAccountDaysSince,\n      \"recentOnboardingBankTimestamp\": recentOnboardingBankTimestamp,\n      \"connectionStatusExternalAccount\": connectionStatusExternalAccount,\n      \"daysSinceLastConnectedAccount\": daysSinceLastConnectedAccount,\n      \"depositAccountsTransferCount\": eventCounts[\"Deposit Accounts Transfer Created\"] || 0\n    }\nreturn result;"
      },
      "id": "24bd6c6b-a0e4-4fac-a284-fc960d1d5dd6",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        1140
      ]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "66bab922-8974-4f2c-a03e-773590d62aef",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        120,
        1140
      ],
      "webhookId": "19d45730-a780-484a-a9b0-1b387c17c4b6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aecf9aaf-96d1-45d9-be14-b08c423e4cc9",
              "leftValue": "={{ $json.headers['content-length'] }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0f1f4248-fdb8-4481-b397-756b06219a8e",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1000,
        840
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/companies/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer HUBSPOT_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n\"bill_pay_used\": \"{{ $json.billPayUsed }}\",\n\"connection_status_of_external_accounts\": \"{{ $json.connectionStatusExternalAccount }}\",\n\"days_since_first_account_opened\": {{ $json.zeniAccountDaysSince }},\n\"days_since_last_connected_account\": {{ $json.daysSinceLastConnectedAccount }},\n\"first_account_opening_date\": \"{{ $json.enableZeniAccountsDate }}\",\n\"total_number_of_bill_paid\": {{ $json['Number of Bill Pay Paid'] }},\n\"number_of_direct_deposit\": {{ $json.depositAccountsTransferCount }},\n\"first_bill_pay_enabled_date\": \"{{ $json.enableBillPayDate }}\",\n\"last_account_connected_date\": \"{{ $json.recentOnboardingBankTimestamp }}\",\n\"mixpanel_trigger\": 0\n  }\n}",
        "options": {}
      },
      "id": "6a23614d-9089-4dcf-b1ab-b2ef1bd2553b",
      "name": "Update Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        1140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d87b7c-76ab-4f32-9c8f-86cc05a102d6",
              "name": "domain",
              "value": "={{ $('Split Out').item.json.properties.domain }}",
              "type": "string"
            },
            {
              "id": "91fd7177-137d-458e-b372-d3aecf2cdc56",
              "name": "headers",
              "value": "={{ $json.headers }}",
              "type": "object"
            },
            {
              "id": "25e57cd0-55f2-4fa6-91bd-cda2958fafc1",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "34ec0194-5aaa-4093-bf5f-a43fa037f30e",
              "name": "id",
              "value": "={{ $('Split Out').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "52a8ec31-5c10-45e4-8541-1ac389ed3032",
      "name": "Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        1140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1510f01-472c-42c4-9023-e0a7b3697a13",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a0ebc13b-121b-43e9-ac25-299a652f83d2",
      "name": "I Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -780,
        1140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "81777942-7ffa-47e0-a416-b40f073e91f2",
              "name": "domain",
              "value": "={{ $('Loop Over Items').item.json.properties.domain }}",
              "type": "string"
            },
            {
              "id": "b04ce419-8d7a-4589-b2e7-0936b7db0f32",
              "name": "enableBillPayDate",
              "value": "={{ $json.enableBillPayDate }}",
              "type": "string"
            },
            {
              "id": "ca843a6c-873a-4dc1-b6f5-012ad447e866",
              "name": "Number of Bill Pay Paid",
              "value": "={{ $json['Number of Bill Pay Paid'] }}",
              "type": "number"
            },
            {
              "id": "75ee9fcf-056c-44cb-a320-15d2e89be246",
              "name": "billPayUsed",
              "value": "={{ $json.billPayUsed }}",
              "type": "string"
            },
            {
              "id": "c9cf7c8d-79c9-41d5-ac67-aacb8f79b86f",
              "name": "enableZeniAccountsDate",
              "value": "={{ $json.enableZeniAccountsDate }}",
              "type": "string"
            },
            {
              "id": "8488237f-d035-437b-a0ad-384350a232e8",
              "name": "zeniAccountDaysSince",
              "value": "={{ $json.zeniAccountDaysSince }}",
              "type": "number"
            },
            {
              "id": "c8682e8f-0fd5-4e0b-8c0c-624a671a4abb",
              "name": "recentOnboardingBankTimestamp",
              "value": "={{ $json.recentOnboardingBankTimestamp }}",
              "type": "string"
            },
            {
              "id": "ab26e10f-5e36-4004-92b8-673f5aa1b021",
              "name": "connectionStatusExternalAccount",
              "value": "={{ $json.connectionStatusExternalAccount }}",
              "type": "string"
            },
            {
              "id": "59e8eabe-e921-4c8a-ac19-1d5bf7929f01",
              "name": "daysSinceLastConnectedAccount",
              "value": "={{ $json.daysSinceLastConnectedAccount }}",
              "type": "number"
            },
            {
              "id": "455cbd52-7bc2-4481-bc72-0bee303443fe",
              "name": "depositAccountsTransferCount",
              "value": "={{ $json.depositAccountsTransferCount }}",
              "type": "number"
            },
            {
              "id": "fda0fb24-c33b-4700-86a7-c9e1021375da",
              "name": "id",
              "value": "={{ $('Split Out').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "704d4772-f898-4a98-953d-e91fdcaec08e",
      "name": "Final Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        1140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "382083d8-7a1e-4761-8116-3ec4bbbb3835",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "61b659c7-3d70-476d-921a-7de0f43d0156",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1920,
        1120
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/companies/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer HUBSPOT_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n\"mixpanel_trigger\": 2\n  }\n}",
        "options": {}
      },
      "id": "0e53bd05-d08b-46b4-9060-4f6fc68faf7b",
      "name": "Update Trigger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        820
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customers": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Customers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Final Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Trigger",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "I Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "I Data": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Data": {
      "main": [
        [
          {
            "node": "Update Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Company": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Trigger": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Events": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6fc91cb8-d34f-4c6c-9b7d-a1984e17d9c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47efb329a2ed99679b35002ee1d3d7dc07f77bda3571d2590fba066438a994f5"
  },
  "id": "iFSR8opfspIuTPvV",
  "tags": []
}